.station-row {
    display: flex;
    flex-direction: row;
    height: 35px;
    align-items: center;
    padding: 5px 0px 5px 0px;
    margin-left: 1rem;
    border-bottom: 1px solid #013d01;
}

.station-row:first-of-type {
    padding-top: 0px;
}

.station-row:last-of-type {
    padding-bottom: 0px;
    border-bottom: none;
}

.station-id {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.station-name-input {
    width: 200px;
    height: 30px;
    border: none;
    background-color: #f0f0f0;
    font-size: 16px;
    padding-left: 5px;
    border-radius:4px;
    padding-block: 0px;
}

.settings-button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: forestgreen;
    padding: 5px;
    font-size: 16px;
    margin: 0px 5px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-button-image {
    height: 18px;
    width: 18px;
}

.move-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
}

.move-up-or-down-button {
    height: 30px;
    width: 20px;
    border: none;
    background: none;
    font-size: 16px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-up-or-down-image {
    height: 16px;
}

.delete-station-button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: darkred;
    padding: 5px;
    font-size: 16px;
    margin: 0px 0px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button-image {
    height: 18px;
    width: 18px;
    margin-left: 2px;
}

.settings-window {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-content {
    background-color: #fefefe;
    padding: 20px 60px;
    border: 1px solid #888;
    width: max-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #013d01;
    text-decoration: underline;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.station-name-settings-input{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;
    color: #013d01;
    border: none;
    border-bottom: 1px solid #013d01;
    padding-block: 0px;
    width: 200px;
}

.edit-toggle-button {
    border: none;
    width: 30px;
    background: none;
    margin: 0px;
}

.edit-toggle-image {
    width: 20px;
    height: 20px;
}

.settings-title-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
}

.settings-paragraph {
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
    color: #000;
    margin-block-start: 0px;
    margin-block-end: 5px;
}

.settings-paragraph:last-of-type{
    margin-block-end: 15px;
}

.station-assignment-textarea {
    width: 70%;
    height: 100px;
    border: none;
    background-color: #f0f0f0;
    font-size: 16px;
    padding-left: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


