.map-name-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #013d01;
}

.create-stations {
    display: flex;
    flex-direction: row;
}

.station-table {
    display: flex;
    flex-direction: column;
}

.fake-location-button {
        margin-top: 1rem;

}

.btn-map-container {
    display: flex;
    flex-direction: column;
}

.btn-row {
    display: flex;
    flex-direction: row;
}
