@page "/Skapa/{mapName}"
@using Skattjakt.Data
@inject TreasureMapService treasureMapService;
@inject NavigationManager Navigation

<h1>@Map.Name</h1>
<RealTimeMap height="460px" width="620px"></RealTimeMap>

@code {
    [Parameter]
    public string MapName { get; set; }

    private TreasureMap Map { get; set; }

    protected override void OnInitialized()
    {
        Map = new TreasureMap(MapName);
        treasureMapService.AddMap(Map);
    }
RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters()  //general map settings
        {
            location = new RealTimeMap.Location()
            {
                latitude = 44.4501715,
                longitude = 26.1107672,
            },
            zoom_level = 18
        };    
}
