@page "/"
@inject NavigationManager NavManager
<PageTitle>Skapa skattjakt</PageTitle>

<div class="form-content">
    <h1>Ange kartnamn</h1>

    <input class="map-name-input" type="text" @bind="MapName" />
    <button class="map-name-button" @onclick="CreateMap">Skapa</button>

    <NavLink class="map-name-button" href="Skapa">
        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Skapa
    </NavLink>
    <h1>@MapName</h1>

</div>

@code {
    private string MapName { get; set; }

    private void CreateMap()
    {
        NavManager.NavigateTo("/Skapa");
        // this.JsConsole.LogAsync(message);
        // Console.WriteLine("hemskt mycket hej.");
        // Skapa kartan
    }
}
