@page "/"
@inject NavigationManager NavManager
<PageTitle>Skapa skattjakt</PageTitle>

<form class="form-content">
    <h1>Ange kartnamn</h1>

    <input class="map-name-input" type="text" @bind="MapName" />
    <button type="button" class="map-name-button" @onclick="CreateMap">Skapa</button>

</form>

@code {
    private string MapName { get; set; }

    private void CreateMap()
    {
        if (!string.IsNullOrEmpty(MapName))
        {
            NavManager.NavigateTo($"/Skapa/{MapName}");
        }
        else
        {
            Console.WriteLine("MapName är tomt eller null");
        }
    }
}
