@page "/"
@using Skattjakt.Data
@inject NavigationManager NavManager
@inject TreasureMapService treasureMapService

<PageTitle>Skapa skattjakt</PageTitle>

<form class="form-content">
    <label for="MapNameInput"><h1>Ange kartnamn</h1></label>
    <p class="alert-box">@AlertText</p>
    <input id="MapNameInput" class="map-name-input" type="text" @bind="MapName" @oninput="UpdateButtonState" />
    <button type="button" class="map-name-button" disabled="@IsDisabled" @onclick="CreateMap">Skapa</button>
    <button type="button" class="map-name-button" disabled="@IsDisabled" @onclick="GetMap">Ladda</button>

</form>

@code {
    private string? MapName { get; set; }
    private bool IsDisabled;
    private bool IsValidName;
    private string? AlertText;
    protected override void OnInitialized()
    {
        IsDisabled = string.IsNullOrEmpty(MapName);
        // Add maps to service from file on initialization
        treasureMapService.LoadMapsFromFile();
    }
    private void CreateMap()
    {
        IsValidName = treasureMapService.Maps.All(map => map.Name != MapName);
        if (!string.IsNullOrEmpty(MapName) && IsValidName)
        {
            AlertText = "";
            NavManager.NavigateTo($"/Skapa/{MapName}");
        }
        else if (!IsValidName)
        {
            AlertText = "Det finns redan en karta med det angivna namnet!";
            System.Diagnostics.Debug.Print($"{MapName} finns redan");
        }
        else
        {
            // TODO alert user instead of developer
            System.Diagnostics.Debug.Print("MapName är tomt eller null");
        }
    }
    private void GetMap()
    {
        IsValidName = treasureMapService.Maps.Any(map => map.Name == MapName);
        if (!string.IsNullOrEmpty(MapName) && IsValidName)
        {
            AlertText = "";
            NavManager.NavigateTo($"/Jakt/{MapName}");
        }
        else if (!IsValidName)
        {
            AlertText = "Det finns ingen karta med det angivna namnet!";
            System.Diagnostics.Debug.Print($"{MapName} finns inte");
        }
        else
        {
            // TODO alert user instead of developer
            System.Diagnostics.Debug.Print("MapName är tomt eller null");
        }
    }
    private void UpdateButtonState(ChangeEventArgs e)
    {
        // Check if the input value is empty
        if (!string.IsNullOrEmpty(e.Value!.ToString()))
        {
            IsDisabled = string.IsNullOrWhiteSpace(e.Value.ToString());
            return;
        }
        IsDisabled = true;
        return;
    }
}
