@page "/"
@using Skattjakt.Data
@inject NavigationManager NavManager
@inject TreasureMapService treasureMapService

<PageTitle>Skapa skattjakt</PageTitle>

<form class="form-content">
    <h1>Ange kartnamn</h1>

    <input class="map-name-input" type="text" @bind="MapName" />
    <button type="button" class="map-name-button" @onclick="CreateMap">Skapa</button>

</form>

@code {
    private string MapName { get; set; } = "test";

    // Add maps to service from file on initialization
    protected override void OnInitialized()
    {
        treasureMapService.LoadMapsFromFile();
    }

    private void CreateMap()
    {
        if (!string.IsNullOrEmpty(MapName))
        {
            NavManager.NavigateTo($"/Skapa/{MapName}");
        }
        else
        {
            // TODO alert user instead of developer
            System.Diagnostics.Debug.Print("MapName är tomt eller null");
        }
    }
}
