h1 {
    font-size: 54px;
    color: #013d01;
    text-align: center;
}

/*.map-name-button {
    border-radius: 4px;
    display: block;
    width: 250px;
    margin: 15px auto;
    padding: 0px;
    height: 30px;
    border: none;
    background-color: forestgreen;
    color: white;
    font-size: 16px;
    letter-spacing: 1.5px;
}

button:disabled {*/
    /* Your styling here */
    /*opacity: 0.3;*/ /* For example, reduce opacity to indicate the disabled state */
    /*background-color: forestgreen;
}*/

.map-name-input {
    width: 250px;
    margin: 0 auto;
    display: block;
    padding: 0px;
    height: 30px;
}
