@page "/Vilkor/{mapName}"
@using Skattjakt.Data

<h3>Inställningar</h3>
<h1 class="map-name-title">@Map!.Name</h1>

<EditForm Model="@settings">
    <DataAnnotationsValidator />
     <div class="formdiv">
 
        <div class="form-group">
            <label for="firstName">Tidsbegränsning:</label>
            <InputNumber id="firstName" class="form-control" @bind-Value="@settings.TimeLimit" />
            <label for="firstName">Minuter</label>
        </div>

        <div class="chk-group">

            <div class="form-group">
                <label for="lastName">Synlighet:</label>
                <InputCheckbox id="visible-btn" class="form-control" @bind-Value="@settings.Visible" />
            </div>

            <div class="form-group">
                <label for="email">Visa Alla:</label>
                <InputCheckbox id="show-all-btn" class="form-control" @bind-Value="@settings.ShowAll" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Spara</button>
     </div>

</EditForm>

@code {
}

@code {
    [Parameter]
    public string? MapName { get; set; }
    private TreasureMap? Map { get; set; }

    private SettingsModel settings = new SettingsModel();

    public class SettingsModel
    {
        public double? TimeLimit { get; set; }
        public bool Visible { get; set; }
        public bool ShowAll { get; set; }
    }

    protected override void OnInitialized()
    {
        Map = new TreasureMap(MapName!);
        // treasureMapService.AddMap(Map);
        System.Diagnostics.Debug.Print("SETUP INITIALIZED");
    }
}
