@page "/Vilkor/{mapName}"
@using Skattjakt.Data
@inject TreasureMapService treasureMapService
@inject NavigationManager NavManager

<h3>Inställningar</h3>
<h1 class="map-name-title">@Map!.Name</h1>

<EditForm Model="@settings">
    <DataAnnotationsValidator />
     <div class="formdiv">
 
        <div class="form-group flex-container">
            <label for="maxTime">Tid (Minuter): </label>
            <InputNumber id="maxTime" class="form-control nrinput" style="width:25%; height:border-radius: 6px;" @bind-Value="@settings.TimeLimit" />
        </div>
        <br />
        <div class="chk-group">
            <div class="form-group flex-container">
                <label for="visible-btn">Synlighet:</label>
                <InputCheckbox id="visible-btn" class="form-control" style="transform:scale(1.5);" @bind-Value="@settings.Visible" />
            </div>
            <br />

            <div class="form-group  flex-container">
                <label for="show-all-btn">Visa Alla:</label>
                <InputCheckbox id="show-all-btn" class="form-control" style="transform: scale(1.5);" @bind-Value="@settings.ShowAll" />
            </div>
        </div>
        <br />

        <button type="submit" class="btn btn-primary" @onclick="AssembleMapDataAndSave">Spara</button>
     </div>

</EditForm>

@code {
    [Parameter]
    public string? MapName { get; set; }
    private TreasureMap? Map { get; set; }

    private Settings settings = new Settings();

    protected override void OnInitialized()
    {
        Map = treasureMapService.GetMapByName(MapName);
        System.Diagnostics.Debug.Print("SETUP INITIALIZED");
    }

    private void AssembleMapDataAndSave(MouseEventArgs e)
    {
        Map!.Settings = settings;
        treasureMapService.SaveMapsToFile();
        NavManager.NavigateTo($"");
    }
}
